<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57664381564-ot62maneeihe5amk03k9koka26mesntv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57664381564-ot62maneeihe5amk03k9koka26mesntv</string>
	<key>API_KEY</key>
	<string>AIzaSyCWjxMyja-7BfOBeW1sMl4MWMaxuNFIzZw</string>
	<key>GCM_SENDER_ID</key>
	<string>57664381564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-3eca7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-3eca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57664381564:ios:90d6057e7e0d5dd9f35ff9</string>
</dict>
</plist>